.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, skyblue, cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 450px;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.search-bar input{
    flex: 1;
    width: 100%;
    min-width: 0;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
}

.weather-icon{
    width: 150px;
    margin: 30px 0;
}

.temperature{
    color: whitesmoke;
    font-size: 80px;
    line-height: 1;
}

.location{
    color: whitesmoke;
    font-size: 40px;
}

.weather-data{
    display: flex;
    margin-top: 40px;
    color: whitesmoke;
    width: 100%;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col .details :last-child{
    display: block;
    font-size: 16px;
}

.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}

@media (max-width: 400px) {
    .weather {
        padding: 25px;
    }

    .temperature {
        font-size: 60px;
    }

    .weather-data .col {
        font-size: 18px;
        gap: 8px;
    }
}